.grid-24-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  width: 60px;
  height: auto;
  gap: 0;

  .grid-square {
    height: 15px;
    width: 15px;
    border: 1px solid black;
  }
}
